header .info-login {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}

header .logout-button {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 20px;

    border-style: solid;
    padding: 10px 15px;
    background-color: #161616;
    border-width: 1.5px;
    border-color: #292929;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}